{% load static %}

<div style="float: center; width: 100%;">
    {% if featured_images %}
        {% for image in featured_images %}
            {% include "familytree/featured_image.html" with image=image %}
        {% endfor %}
    {% endif %}
    </div>

<div style="float: left; width: 100%;" id="center_parents">
    {% include "familytree/face_name_link.html" with person=family.wife %}
    <img src="{% static 'familytree/Blank-Image-Placeholder.gif' %}" height="75" />
    {% include "familytree/face_name_link.html" with person=family.husband %}
</div>