{% load static %}
<div style="float: left; width: 31%;">
    {% include "familytree/face_name_link.html" with person=family.wife %}
</div>

<div style="float: left; vertical-align: bottom; width: 38%;">
    {% if featured_images %}
        {% for image in featured_images %}
            {% include "familytree/featured_image.html" with image=image %}
        {% endfor %}
    {% else %}
        <img src="{% static 'familytree/Blank-Image-Placeholder.gif' %}" height="75" />
    {% endif %}

</div>


<div style="float: left; width: 31%;">
    {% include "familytree/face_name_link.html" with person=family.husband %}
</div>