{% load static %}
<div style="float: left; width: 33%;">

    {% if origin_family %}
    <img src="{% static 'familytree/northwest.png' %}" height="25" />
    <b>Grew up in family:</b>
    <a href="{% url 'family_detail' origin_family.id %}">{{ origin_family.display_name }}</a><br/>
{% endif %}

    {% if person.maiden %}
        <b>Born:</b> {{ person.first }} {{ person.middle|default_if_none:"" }} {{ person.maiden }}<br/>
    {% else %}
        <b>Born:</b> {{ person.first }} {{ person.middle|default_if_none:"" }} {{ person.last }}<br/>
    {% endif %}

    {% if not user_is_limited or not person.living %}
    <b>Birthdate:</b>
    {% if person.birthdate %}
        {{ person.birthdate }}
    {% elif person.birthdate_note %}
       {{ person.birthdate_note }}
    {% endif %}
    <br/>
    {% endif %}

    <b>Born in:</b> {{ person.birthplace|default_if_none:"" }}<br/>

    {% if person.origin %}
        <b>National Origin:</b> {{ person.origin|default_if_none:"" }} <br/>
    {% endif %}

    {% if user.is_superuser %}
    <img src="{% static 'familytree/pencil.png' %}" height="25" />
    <a href="/admin/familytree/person/{{ person.id }}" target="_blank">Admin edit</a>
    <br/>
{% elif not user_is_guest %}
    <img src="{% static 'familytree/pencil.png' %}" height="25" />
    <a href="{% url 'edit_person' person.id %}">
    Update this info</a><br/>
{% endif %}
</div>



<div style="float: left; width: 33%;">
    {% if featured_images %}
        {% for image in featured_images %}
            {% include "familytree/featured_image.html" with image=image %}
        {% endfor %}
    {% endif %}
</div>

<div style="float: left; width: 33%;">
    <b>Education: </b>{{ person.education|default_if_none:"" }} <br/>
    <b>Work: </b> {{ person.work|default_if_none:"" | safe }}   <br/>
    <b>Interests:</b> {{ person.interests|default_if_none:"" }} <br/>
    <b>Location:</b> {{ person.current_location|default_if_none:"" }} <br/>
    {% if person.deathdate %}
        <b>Deathdate:</b> {{ person.deathdate }} <br/>
    {% elif person.deathdate_note%}
        <b>Deathdate: </b>{{ person.deathdate_note }}<br/>
    {% endif %}
    {% if person.death_place %}
        <b>Death place:</b> {{ person.death_place }} <br/>
    {% endif %}

    {% if families_made %}
        {% for family in families_made %}
            {% if family.no_kids_bool == True %}
                <b>Married:</b> <a href="{% url 'family_detail' family.id %}">{{ family.display_name }}</a>
    <img src="{% static 'familytree/right_arrow.svg' %}" height="20"/><br/>
            {% else %}
                <b>Raised family:</b> <a href="{% url 'family_detail' family.id %}">{{ family.display_name }}</a>
    <img src="{% static 'familytree/southeast.png' %}" height="25"/><br/>
            {% endif %}
        {% endfor %}
    {% endif %}
 </div>