{% extends 'familytree/base.html' %}
{% load familytree_extras %}

{% block title %} - account{% endblock title %}
{% block content %}

{% autoescape off %}
{{html_string}}
{% endautoescape %}

<div style="margin-top: 20px; margin-bottom: 20px;">
<h2>Notes added</h2>
    {% if notes_written %}
         {% for note in notes_written %}
            <div style="display: inline-block; margin: 10px;" >
                 {% if note.person %}
                    {% include "familytree/face_name_link.html" with person=note.person %}
                {% endif %}
                {% if note.family %}
                    <a href="{% url 'family_detail' note.family.id %}">{{ note.family.display_name }}</a>
                {% endif %}
              {% if note.date %}
                    <br/>({{ note.date }})
              {% endif %}
            </div>
            <div style="display: inline-block; width: 75%; margin: 5px;">
                {{ note.body | safe }}
            </div>
            <br/>
        {% endfor %}
    {% else %}
        {% if user_person.family %}
            None yet. How about adding a memory from growing up in your family? <br/>
            <a href="{% url 'family_detail' user_person.family.id %}">{{ user_person.family.display_name }}</a>
        {% else %}
            (none yet)
        {% endif %}
    {% endif %}

</div>
<div style="margin-top: 20px; margin-bottom: 25px;">
<h2>Updates made</h2>
    {% if updates_made %}
        {% for update in updates_made %}
            {{ update.action_time|date:'Y-m-d' }}: updated info for 
            {% if update.content_type_id == 2 %}
                <a href="{% url 'family_detail' update.object_id %}">{{update.object_repr}}</a>
            {% endif %}
            {% if update.content_type_id == 4 %}
                <a href="{% url 'person_detail' update.object_id %}">{{update.object_repr}}</a>
            {% endif %}

            <br/>
        {% endfor %}
    {% else %}
        None yet. Get started on your page (click 'Update this info'):<br/>
        {% include "familytree/face_name_link.html" with person=user_person %}
    {% endif %}
</div>
{% endblock content %}
