{% extends 'familytree/base.html' %}
{% load static %}
{% block title %} - {{ person.display_name }}{% endblock title %}

{% block content %}

<form method="POST">
    {% csrf_token %}

  <input type='hidden' name="person" value="{{ person.id }}" />
  <input type='hidden' name="author" value="{{ user_person.id}}" />
  <input type='hidden' name="author_name" value="{{ user_person.display_name }}" />
  <input type='hidden' name="user_id" value="{{ editing_user.id }}" />

  <fieldset>
    <legend>Add a note for {{ person.display_name }}</legend>
    <div class="form-group">
      <label for="id_body" class="form-label mt-4">Note contents:</label>
      <textarea class="form-control" id="id_body" name="body" required rows="3"></textarea>
    </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>


{% endblock content %}