{% extends 'familytree/base.html' %}
{% block title %}{% endblock title %}
{% block content %}

{#Welcome, {{ user.get_username }}! <br/><br/>#}
Welcome, {{ user_person.display_name }}! <br/><br/>

<div class="bottom">
    <div style="float: left; width: 23%;" class="circled_section">

    {% include "familytree/face_name_link.html" with person=user_person %}<br/>
        <h3>My family history</h3>
    <h3><a href="{% url 'image_index'  %}">Family album</a></h3>
    <h3>Home movies</h3>
    <h3><a href="{% url 'outline'  %}">Outline View</a></h3>
    My furthest ancestors here: <br/>{{ profile.first.furthest_html | safe}}<br/>
    </div>

<div style="float: left; width: 30%;" class="circled_section">
    <b>Birthdays this month:</b>
    {%  if birthday_people%}
        {% for person in birthday_people %}
            <li> {% include "familytree/face_name_link.html" with person=person %} {{person.birthdate}}</li>
        {% endfor %}
    {% else %}
        (none)
    {% endif %}
    <br/><br/>
    <b>Anniversaries this month:</b>
    {%  if anniversary_couples%}
        {% for family in anniversary_couples %}
            <li> <a href="{% url 'family_detail' family.id %}">{{ family.display_name }}</a> {{family.marriage_date}}</li>
        {% endfor %}
    {% else %}
        (none)
    {% endif %}

    </div>
</div>

<div class="bottom" style="float: right; width: 35%;"  >
    <div  class="circled_section">
        Latest pics: <br/>
       {%  if latest_pics%}
        {% for image in latest_pics %}
            {% include "familytree/image_link.html" with image=image %}
        {% endfor %}
    {% else %}
        (none)
    {% endif %}


    </div>

    <div class="circled_section">
        Latest videos: <br/>
       {%  if latest_videos %}
        {% for video in latest_videos %}
            {% include "familytree/video_link.html" with video=video %}
        {% endfor %}
    {% else %}
        (none)
    {% endif %}
    </div>

    <div class="circled_section">
    Latest updates:
    </div>
 </div>

{% endblock content %}