{% extends 'familytree/base.html' %}
{% block title %} - {{ family.display_name }}{% endblock title %}
{% block content %}

<h3>{{ family.display_name }}</h3>

<div style="float: left; width: 31%;">
    {% include "familytree/face_name_link.html" with person=family.wife %}
</div>

<div style="float: left; vertical-align: bottom; width: 38%;">
{% if featured_images %}
    {% for image in featured_images %}
        {% include "familytree/featured_image.html" with image=image %}
    {% endfor %}
{% endif %}
</div>

<div style="float: left; width: 31%;">
    {% include "familytree/face_name_link.html" with person=family.husband %}
</div>

<div style="float: left;width: 100%;">
    <div style="float: left;width: 31%;">
        {% if family.marriage_date %}
            <b>Marriage date:</b> {{ family.marriage_date }}
        {% elif family.marriage_date_note %}
            <b>Marriage date:</b> {{ family.marriage_date_note }}
        {%  endif %}
    </div>
    <div style="float: left;width: 38%;">
    {% if kids %}
        <b>Kids:</b><br/>
        <ul>
        {% for kid in kids %}
            {% include "familytree/face_name_link.html" with person=kid %}<br/>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
</div>

 <div style="float: left;width: 100%;">
    {% if family.notes1 %} {{ family.notes1 | safe }} <br/>{% endif %}
    {% if family.notes2 %} {{ family.notes2 | safe }} <br/>{% endif %}
    {% if family.notes3 %} {{ family.notes3 | safe }} <br/>{% endif %}

    {% if notes %}
        {% include "familytree/_notes_display.html" with notes=notes %}
    {% endif %}
 </div>

 <div style="float: left;width: 100%;">
    {% if images %}
    <h2>Images:</h2>
    <ul>
    {% for image in images %}
        {% include "familytree/image_link.html" with image=image %}
    {% endfor %}
    </ul>
    {% endif %}
 </div>


{% endblock content %}