{% extends 'familytree/base.html' %}
{% load static %}
{% block title %} - {{ family.display_name }}{% endblock title %}
{% block content %}

<h3>{{ family.display_name }}</h3>

<div style="float: left; width: 31%;">
    {% include "familytree/face_name_link.html" with person=family.wife %}
</div>

<div style="float: left; vertical-align: bottom; width: 38%;">
{% if featured_images %}
    {% for image in featured_images %}
        {% include "familytree/featured_image.html" with image=image %}
    {% endfor %}
{% else %}
    <img src="{% static 'familytree/Blank-Image-Placeholder.gif' %}" height="75" />
{% endif %}
</div>

<div style="float: left; width: 31%;">
    {% include "familytree/face_name_link.html" with person=family.husband %}
</div>

<div style="float: left;width: 100%;">
    <div style="float: left;width: 31%;">
        {% if user.is_superuser %}
                <img src="{% static 'familytree/pencil.png' %}" height="25" />
                <a href="/admin/familytree/family/{{ family.id }}" target="_blank">Admin edit</a>
                <br/>
        {% endif %}
        {% if family.marriage_date %}
            <b>Marriage date:</b> {{ family.marriage_date }}
        {% elif family.marriage_date_note %}
            <b>Marriage date:</b> {{ family.marriage_date_note }}
        {%  endif %}
        &nbsp; <!-- keep the div even if neither are true -->
    </div>
    <div style="float: left;width: 38%;">
    {% if kids %}
        <b>Kids:</b><br/>
        <ul>
        {% for kid in kids %}
            {% include "familytree/face_name_link.html" with person=kid %}<br/>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
</div>

  <div style="float: left; width: 100%;">
    {% if not user_is_guest %}
    <img src="{% static 'familytree/pencil.png' %}" height="25" />
        <a href="{% url 'add_family_note' 'family' family.id %}">
    Add a note or memory</a>
    {% endif %}
    </div>

 <div style="float: left;width: 100%;">
    {% if family.notes1 %} {{ family.notes1 | safe }} <br/>{% endif %}
    {% if family.notes2 %} {{ family.notes2 | safe }} <br/>{% endif %}
    {% if family.notes3 %} {{ family.notes3 | safe }} <br/>{% endif %}

    {% if notes %}
     <h2>Notes: </h2>
        {% include "familytree/_notes_display.html" with notes=notes %}
    {% endif %}
 </div>

<div style="float: left; width: 100%;">
    {% include "familytree/_stories_display.html" with stories=stories %}
</div>

 <div style="float: left;width: 100%;">
    {% if images %}
    <h2>Images:</h2>
    <ul>
    {% for image in images %}
        {% include "familytree/image_link.html" with image=image height=150 show_hover=False %}
    {% endfor %}
    </ul>
    {% endif %}
 </div>


{% endblock content %}
