<h3>{{ family.display_name }}</h3>

wife:
        {%  if family.wife.display_name %}
            <a href="{% url 'person_detail' family.wife.id %}">{{ family.wife.display_name }}</a>
        {%  else %}
            <a href="{% url 'person_detail' family.wife.id %}">{{ family.wife.first }} {{ family.wife.last }}</a>
        {%  endif %}
<br/>

husband:
        {%  if family.husband.display_name %}
            <a href="{% url 'person_detail' family.husband.id %}">{{ family.husband.display_name }}</a>
        {%  else %}
            <a href="{% url 'person_detail' family.husband.id %}">{{ family.husband.first }} {{ family.husband.last }}</a>
        {%  endif %}
<br/>
<br/>
{% if kids %}
List of kids:<br/>
<ul>
    {% for kid in kids %}
        {%  if kid.display_name %}
            <li><a href="{% url 'person_detail' kid.id %}">{{ kid.display_name }}</a></li>
        {%  else %}
            <li><a href="{% url 'person_detail' kid.id %}">{{ kid.first }} {{ kid.last }}</a></li>
        {%  endif %}
    {% endfor %}
</ul>
{% endif %}



<a href="{% url 'family_index' %}">Family index</a>