{% extends 'familytree/base.html' %}
{% load familytree_extras %}

{% block title %} - family history{% endblock title %}
{% block content %}


    <h2>Family history: </h2>

    {% if show_mobile %}<div class="mobile">{% endif %}

        {% if profile.connection_notes %}
                <p>{{ profile.connection_notes }}</p>
        {%  endif %}

        {% for branch in accessible_branches %}
             {% get_history_filepath branch as filepath %}
             {% template_exists filepath as result %}

             <div class="circled_section">
                 {% if result %}
                    {% include filepath %}
                 {% else %}
                    {{branch}} history still to be written <br/>
                    Add it here: {{filepath}}
                 {% endif %}
             </div>
         {% endfor %}

    {% if show_mobile %}</div>{% endif %}
{% endblock content %}
