{% extends 'familytree/base.html' %}
{% load familytree_extras %}

{% block title %} - family history{% endblock title %}
{% block content %}


    <h2>Family history: </h2>

        {% if profile.connection_notes %}
                <p>{{ profile.connection_notes }}</p>
        {%  endif %}
    {% for branch in accessible_branches %}
        {% get_history_filepath branch as filepath %}
        <div class="circled_section">
                {% include filepath %}
        </div>
    {% endfor %}

{% endblock content %}
