{% extends 'familytree/base.html' %}

{% block title %} - image detail{% endblock title %}
{% block content %}

<div style="float: left; width: 80%;">
    <div style="margin-bottom: 20px">
        <img src="{{ media_server }}/image/upload/r_20/{{image.big_name}}"  style="max-width:100%;">
    </div>
    <div>
        {% if image.caption %}
            <h3>{{ image.caption }}</h3>
        {% endif %}
        {{ image.year }}
    </div>
 </div>

 <div style="float: right; width: 20%; margin-top: 20px">
    {% if image_person %}
     Go to person's page: <br/><br/>
            {% include "familytree/face_name_link.html" with person=image_person %}
        <br/>
    {%  endif %}

    {% if image_family %}
        Go to family's page: <a href="{% url 'family_detail' image_family.id %}">{{ image_family.display_name }}</a>
        <br/>
    {%  endif %}
<br/>

    {% if image_people %}
     <h2>This picture contains:</h2>
        {% for person in image_people %}
            {% include "familytree/face_name_link.html" with person=person %} <br/>
        {% endfor %}
    {%  endif %}
 </div>

{% endblock content %}