{%  if image.id %}  {#  shouldn't need this, but there were some records coming through without ID! #}


<div style="display: inline-block;" >
    <a href="{% url 'image_detail' image.id  %}">
        {%  if image.little_name %}
            <img src="{{ media_server }}/image/upload/h_100,r_20/{{ image.little_name }}" />
        {%  else %}
            <img src="{{ media_server }}/image/upload/h_100,r_20/{{ image.big_name }}" />
        {%  endif %}
        <br/>
        ({{ image.year }})
        </a>
</div>

{%  endif %}
