{% extends 'familytree/base.html' %}

{% block title %} - image detail{% endblock title %}
{% block content %}

<img src="{{ media_server }}/image/upload/r_20/{{image.big_name}}" />

<br/>
{{ image.year }}
<br/>
{% if image.caption %}
    {{ image.caption }}
{% endif %}
<br/>

    {% if image_person %}
        {% for person in image_person %}
        Go to person's page:
            {% include "familytree/face_name_link.html" with person=person %}
        {% endfor %}
        <br/>
    {%  endif %}

    {% if image_family %}
        {% for family in image_family %}
        Go to family's page: <a href="{% url 'family_detail' family.id %}">{{ family.display_name }}</a>
        {% endfor %}
        <br/>
    {%  endif %}

<br/>

    {% if image_people %}
        This picture contains:<br/>
        {% for person in image_people %}
            {% include "familytree/face_name_link.html" with person=person.first %} <br/>
        {% endfor %}
    {%  endif %}

{% endblock content %}