{% extends 'familytree/base.html' %}

{% block title %} - image detail{% endblock title %}
{% block content %}


<div style="float: left; width: 80%; position: relative;">
    <turbo-frame id="image-frame">
        {% include "familytree/_image_detail_frame.html" %}
    </turbo-frame>
</div>

 <div style="float: right; width: 20%; margin-top: 20px;">
    {% if image_person %}
     Go to person's page: <br/><br/>
            {% include "familytree/_face_name_link.html" with person=image_person %}
        <br/>
    {%  endif %}

    {% if image_family %}
        Go to family's page: <a href="{% url 'family_detail' image_family.id %}">{{ image_family.display_name }}</a>
        <br/>
    {%  endif %}
<br/>

    {% if image_people %}
     <h3>This picture contains:</h3>
        {% for person in image_people %}
            {% include "familytree/_face_name_link.html" with person=person %} <br/>
        {% endfor %}
    {%  endif %}
 </div>

    {# thumbnails row when images list is present #}
        {% if images %}
            {% load static %}
            <div style="clear: both; margin-top: 20px; max-width: 98vw;">
                <h3>{{ gallery_heading }}</h3>
                <div id="gallery-thumbnails" style="display: inline-block; vertical-align: middle; width: 90vw; overflow-x: auto; white-space: nowrap;">
                    <button id="gallery-arrow-left" onclick="galleryPrev()" style="vertical-align: middle; font-size: 2em; background: none; border: none; cursor: pointer; display: none;">&#8592;</button>
                    {% for img in images %}
                        <span class="gallery-thumb" style="display: none;">
                            {% include "familytree/image_link.html" with image=img height=75 show_hover=False images=images %}
                        </span>
                    {% endfor %}
                    {% if images|length > 10 %}
                        <button id="gallery-arrow-right" onclick="galleryNext()" style="vertical-align: middle; font-size: 2em; background: none; border: none; cursor: pointer;">&#8594;</button>
                    {% endif %}
                </div>
            </div>
            <script src="{% static 'familytree/gallery_scroller.js' %}"></script>
        {% endif %}
{% endblock content %}
