
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
        Our big family tree
        </title>
    </head>

    <body>
    {% extends 'familytree/base.html' %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'familytree/style.css' %}">

{% block content %}

<h1>Welcome!</h1>
Are you related to any of the folks below, or see yourself in this list? Welcome to our family tree website! I've spent
years gathering info, dates, and pictures, and it lives here for our safe-keeping. This is for family members only, so
if you're related and would like an account, <a href="mailto:{{email_to}}?subject=Family tree user request">email me</a>
with info about who you're related to. Thanks!<br/>
Diane Kaplan (Massachusetts, USA)

<br/><br/>
    {% include "registration/login.html" %}
    <br/>


{% if landing_page_people %}
    <ul>
    {% for person in landing_page_people %}
        {% include "familytree/face_name_link.html" with person=person %}
    {% endfor %}
    </ul>
{% else %}
    <p>No people are available.</p>
{% endif %}

{% endblock content %}
