
{%  if person.display_name %}
    <h3>{{ person.display_name }}</h3>
{%  else %}
    <h3>{{ person.first }} {{ person.last }}</h3>
{%  endif %}

<br/>
{% if featured_images %}
Featured image:
    {% for image in featured_images %}
        <img src="{{ image.big_name }}"/>
    {% endfor %}
{% endif %}

<br/>
{% if person.maiden %}
    Born: {{ person.first }} {{ person.middle }} {{ person.maiden }}<br/>
{% else %}
    Born: {{ person.first }} {{ person.middle }} {{ person.last }}<br/>
{% endif %}

{% if person.birthdate %}
    Birthdate: {{ person.birthdate }} <br/>
{% else %}
    Birthdate: {{ person.birthdate_note }}<br/>
{% endif %}

Born in:  {{ person.birthplace}}<br/>

{% if person.origin_family %}
Grew up in family:
<ul>
    <li><a href="{% url 'family_detail' person.origin_family.id %}">{{ person.origin_family.display_name }}</a></li>
</ul>
{% endif %}
National Origin: {{ person.origin }} <br/>


{% if families_made %}
Raised family:
<ul>
    {% for family in families_made %}
        <li><a href="{% url 'family_detail' family.id %}">{{ family.display_name }}</a></li>
    {% endfor %}
</ul>
{% endif %}

Education: {{ person.education }} <br/>
Work: {{ person.work }} <br/>
Interests: {{ person.interests }} <br/>
{% if person.deathdate %}
    Deathdate: {{ person.birthdate }} <br/>
{% elif person.deathdate_note%}
    Deathdate: {{ person.deathdate_note }}<br/>
{% endif %}

{% if person.notes1 %} {{ person.notes1 }} <br/>{% endif %}
{% if person.notes2 %} {{ person.notes2 }} <br/>{% endif %}
{% if person.notes3 %} {{ person.notes3 }} <br/>{% endif %}


{% if notes %}
Notes: <br/>
<ul>
    {% for note in notes %}
        <li>
            {% if note.date %}
                {{ note.date }}
            {% endif %}
            {% include "familytree/face_name_link.html" with person=note.author %}: {{ note.body }}
        </li>
    {% endfor %}
</ul>
{% endif %}

<br/>
{% if images %}
Solo images:
<ul>
    {% for image in images %}
        <li>{{ image.big_name }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if group_images %}
Group images:
<ul>
    {% for listing in group_images %}
        <li>{{ listing.image.big_name}}</li>
    {% endfor %}
</ul>
{% endif %}

<a href="{% url 'person_index' %}">Person index</a>