{% extends 'familytree/base.html' %}
{% block title %} - person index{% endblock title %}
{% block content %}

{#If we've populated people's branches, show by branch#}
{% if show_by_branch == True %}

    {% if branch1_people and branch1_name.first in accessible_branches %}
        {% include "familytree/_index_list.html" with person_list=branch1_people branch_name=branch1_name.first list_type="person"%}
    {% endif %}

    {% if branch2_people and branch2_name.first in accessible_branches %}
        {% include "familytree/_index_list.html" with person_list=branch2_people branch_name=branch2_name.first list_type="person"%}
    {% endif %}

    {% if branch3_people and branch3_name.first in accessible_branches%}
        {% include "familytree/_index_list.html" with person_list=branch3_people branch_name=branch3_name.first list_type="person" %}
    {% endif %}

    {% if branch4_people and branch4_name.first in accessible_branches%}
        {% include "familytree/_index_list.html" with person_list=branch4_people branch_name=branch4_name.first list_type="person" %}
    {% endif %}

{#Otherwise, show list of everyone#}
{% else %}
    {% if person_list %}
        <ul>
        {% for person in person_list %}
            {% include "familytree/face_name_link.html" with person=person %} <br/>
        {% endfor %}
        </ul>
    {% else %}
        <p>No people are available.</p>
    {% endif %}
{% endif %}


{% endblock content %}
