{% extends 'familytree/base.html' %}
{% load static %}
{% block title %} - {{ person.display_name }}{% endblock title %}
{% block content %}

<div>
    <div style="float: left; width: 100%;">
        {%  if person.display_name %}
            <h1>{{ person.display_name }}</h1>
        {%  else %}
            <h1>{{ person.first }} {{ person.last }}</h1>
        {%  endif %}
    </div>

    <div style="float: left; width: 33%;">

            {% if user.is_superuser %}
                <img src="{% static 'familytree/pencil.png' %}" height="25" />
                <a href="/admin/familytree/person/{{ person.id }}" target="_blank">Admin edit</a>
                <br/>
           {% elif not user_is_guest %}
                <img src="{% static 'familytree/pencil.png' %}" height="25" />
                <a href="{% url 'edit_person' person.id %}">
                Update this info</a><br/>
            {% endif %}

            {% if person.maiden %}
                <b>Born:</b> {{ person.first }} {{ person.middle|default_if_none:"" }} {{ person.maiden }}<br/>
            {% else %}
                <b>Born:</b> {{ person.first }} {{ person.middle|default_if_none:"" }} {{ person.last }}<br/>
            {% endif %}
        
            {% if not user_is_limited or not person.living %}
            <b>Birthdate:</b>
            {% if person.birthdate %}
                {{ person.birthdate }}
            {% elif person.birthdate_note %}
               {{ person.birthdate_note }}
            {% endif %}
            <br/>
            {% endif %}

            <b>Born in:</b> {{ person.birthplace|default_if_none:"" }}<br/>

            {% if origin_family %}
                <img src="{% static 'familytree/northwest.png' %}" height="25" />
                <b>Grew up in family:</b>
                <a href="{% url 'family_detail' origin_family.id %}">{{ origin_family.display_name }}</a><br/>
            {% endif %}
            <b>National Origin:</b> {{ person.origin|default_if_none:"" }} <br/>
    </div>


    <div style="float: left; width: 33%;">
        {% if featured_images %}
            {% for image in featured_images %}
                {% include "familytree/featured_image.html" with image=image %}
            {% endfor %}
        {% endif %}
    </div>

    <div style="float: left; width: 33%;">
        <b>Education: </b>{{ person.education|default_if_none:"" }} <br/>
        <b>Work: </b> {{ person.work|default_if_none:"" | safe }}   <br/>
        <b>Interests:</b> {{ person.interests|default_if_none:"" }} <br/>
        <b>Location:</b> {{ person.current_location|default_if_none:"" }} <br/>
        {% if person.deathdate %}
            <b>Deathdate:</b> {{ person.deathdate }} <br/>
        {% elif person.deathdate_note%}
            <b>Deathdate: </b>{{ person.deathdate_note }}<br/>
        {% endif %}
        {% if person.death_place %}
            <b>Death place:</b> {{ person.death_place }} <br/>
        {% endif %}

        {% if families_made %}
            {% for family in families_made %}
                {% if family.no_kids_bool == True %}
                    <b>Married:</b> <a href="{% url 'family_detail' family.id %}">{{ family.display_name }}</a>
        <img src="{% static 'familytree/right_arrow.svg' %}" height="20"/><br/>
                {% else %}
                    <b>Raised family:</b> <a href="{% url 'family_detail' family.id %}">{{ family.display_name }}</a>
        <img src="{% static 'familytree/southeast.png' %}" height="25"/><br/>
                {% endif %}
            {% endfor %}
        {% endif %}
     </div>
</div>

<div style="float: left; width: 100%;">
    {% if not user_is_guest %}
    <img src="{% static 'familytree/pencil.png' %}" height="25" />
        <a href="{% url 'add_person_note' person.id %}">
    Add a note or memory</a>
    {% endif %}
</div>

<div style="float: left; width: 100%;">
    {% if person.notes1 %} <div style="margin: 10px">{{ person.notes1 | safe}} </div>{% endif %}
    {% if person.notes2 %} <div style="margin: 10px">{{ person.notes2 | safe}} </div>{% endif %}
    {% if person.notes3 %} <div style="margin: 10px">{{ person.notes3 | safe}} </div>{% endif %}

    {% if notes %}
    <h2>Notes: </h2>
        {% include "familytree/_notes_display.html" with notes=notes %}
    {% endif %}
</div>
<div style="float: left; width: 100%;">
    {% if stories %}
        {% for story in stories %}
            <div style="display: inline-block;" >
                <img src="{% static 'familytree/book.png' %}" height="50"/>
            </div>
            <div style="display: inline-block; width: 80%">
                    <a href="{% url 'story' story.id %}">{{ story.description }}</a>: {{ story.intro }}...
                    <a href="{% url 'story' story.id %}">Read More</a>
            </div>
            <br/>
        {% endfor %}
    {% endif %}
</div>


{% if videos %}
    <div style="float: left; width: 100%;">
        <h2>Videos: </h2>
        <div>
            {% for video in videos %}
                {% include "familytree/video_link.html" with video=video %}
            {% endfor %}
        </div>
    </div>
{% endif %}


{% if audio_files %}
    <div style="float: left; width: 100%;">
        <h2>Audio links: </h2>
        <div>
            {% for file in audio_files %}
                {{ file.summary}}
                <a href="{{ media_server }}/video/upload/{{ file.filename }}">click here</a><br/>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if images %}
    <div style="float: left; width: 100%;">
        <h2>Pictures of {{ person.first }}: </h2>
        {% for image in images %}
            {% include "familytree/image_link.html" with image=image %}
        {% endfor %}
    </div>
{% endif %}
<br/><br/><br/>
<div style="float: left; width: 100%;">
    {% if group_images %}
        <h2>Group pictures:</h2>
        {% for image in group_images %}
          {% include "familytree/image_link.html" with image=image %}
        {% endfor %}
    {% endif %}
</div>

{% endblock content %}