
{%  if person.display_name %}
    <h3>{{ person.display_name }}</h3>
{%  else %}
    <h3>{{ person.first }} {{ person.last }}</h3>
{%  endif %}




{% if person.origin_family %}
This person came from family:
<ul>
    <li><a href="{% url 'family_detail' person.origin_family.id %}">{{ person.origin_family.display_name }}</a></li>
</ul>
{% endif %}

{% if families_made %}
This person made family:
<ul>
    {% for family in families_made %}
        <li><a href="{% url 'family_detail' family.id %}">{{ family.display_name }}</a></li>
    {% endfor %}
</ul>
{% endif %}


<a href="{% url 'person_index' %}">Person index</a>