{% extends 'familytree/base.html' %}
{% block title %} - story{% endblock title %}
{% block content %}
{% load familytree_extras %}

{% get_story_filepath story as filepath %}

<h1>{{ story.description }}</h1>

{% if show_mobile %}<div class="mobile">{% endif %}

    {% if story.image %}
        <img src="{{ media_server }}/image/upload/r_20/{{ story.image }}" height="500"/>
    {%  endif %}
{% include filepath %}

{% if story.source %}
    <p>source: {{ story.source }}</p>
{% endif %}

{% if show_mobile %}</div>{% endif %}

{% endblock content %}
