

<div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">

        <a href="{% url 'dashboard' %}">Home</a>
        <a href="{% url 'family_index' %}">Families</a>
        <a href="{% url 'person_index' %}">People</a>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        Admin
        My Account
        FAQs
        Log Out
    </ul>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <hr class = "line" />
        </div>
    </div>
</div>