<div class="container">
  {% if user.is_authenticated %}
      <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'history'  %}">My family history</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                 aria-expanded="false">Photos and movies</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'image_index'  %}">Family Album</a>
                <a class="dropdown-item" href="{% url 'video_index'  %}">Home Movies</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                 aria-expanded="false">Search</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'family_index' %}">Families</a>
                <a class="dropdown-item" href="{% url 'person_index' %}">People</a>
                <a class="dropdown-item" href="{% url 'outline' %}">Outline View</a>
              </div>
            </li>

            {% if not user_is_guest %}
            <li>{% include "familytree/_top_nav_face_link.html" with person=user_person%}</li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                 aria-expanded="false">Account</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'account' %}">My Updates</a>
                <a class="dropdown-item" href="{% url 'password_reset' %}">Reset Password</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
              </div>
            </li>
            {% else %}
              <li class="nav-item">
                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
              </li>
            {% endif %}

            {% if user.is_superuser %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                 aria-expanded="false">Admin</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'admin:index' %}">Django Admin</a>
                <a class="dropdown-item" href="{% url 'user_metrics' %}">User Metrics</a>
              </div>
            </li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>
{% endif %}

</div>