{% extends 'familytree/base.html' %}
{% block title %} - user metrics{% endblock title %}
{% block content %}

past month's logins:
        <ul>
        {% for profile in last_login_past_month %}
            {% include "familytree/_user_link_display.html" with profile=profile %}
        {% endfor %}
        </ul>


<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
  <table class="table">
    <thead>
      <tr>
        <th>No logins yet</th>
        <th>Logged in to old site</th>
        <th>Logged in to django site</th>
        <th>Did stuff on new site</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{last_login_never.count}}</td>
        <td>{{last_login_old_site_only.count}}, {{last_login_laravel_site.count}}</td>
        <td>{{last_login_django_site.count}}</td>
         <td>did actions count</td>
      </tr>
      <tr>

       <td>
                      <ul>
        {% for profile in last_login_never %}
            {% include "familytree/_user_link_display.html" with profile=profile %}
        {% endfor %}
        </ul>

       </td>
        <td>Old site:
                                        <ul>
        {% for profile in last_login_old_site_only %}
            {% include "familytree/_user_link_display.html" with profile=profile %}
        {% endfor %}
        </ul>

Laravel site:
                        <ul>
        {% for profile in last_login_laravel_site %}
            {% include "familytree/_user_link_display.html" with profile=profile %}
        {% endfor %}
        </ul>
        </td>
        <td>
                        <ul>
        {% for profile in last_login_django_site %}
            {% include "familytree/_user_link_display.html" with profile=profile %}
        {% endfor %}
        </ul>
        </td>
        <td>placedholder for actions</td>
      </tr>
    </tbody>
  </table>
</div>


Admin users:

Users by activity level:
        Did stuff on laravel site
        Added notes on old site (asp.net?)


Users by branch access
Users needing password change (have logged in, but still have original default password)



{% endblock content %}
