{% extends 'familytree/base.html' %}
{% block title %} - user metrics{% endblock title %}
{% block content %}

past month's logins:
        <ul>
        {% for profile in last_login_past_month %}
            {% include "familytree/_user_link_display.html" with profile=profile %}
        {% endfor %}
        </ul>


Only logged into old site:
        <ul>
        {% for profile in last_login_old_site_only %}
            {% include "familytree/_user_link_display.html" with profile=profile %}
        {% endfor %}
        </ul>

Only logged into laravel site:
        <ul>
        {% for profile in last_login_laravel_site %}
            {% include "familytree/_user_link_display.html" with profile=profile %}
        {% endfor %}
        </ul>

Logged into django site:
        <ul>
        {% for profile in last_login_django_site %}
            {% include "familytree/_user_link_display.html" with profile=profile %}
        {% endfor %}
        </ul>

Never logged in:
        <ul>
        {% for profile in last_login_never %}
            {% include "familytree/_user_link_display.html" with profile=profile %}
        {% endfor %}
        </ul>

Admin users:

Users by activity level:
        Did stuff on laravel site
        Added notes on old site (asp.net?)


Users by branch access
Users needing password change (have logged in, but still have original default password)



{% endblock content %}
