{% extends 'familytree/base.html' %}
{% block title %} - video detail{% endblock title %}
{% block content %}

<div style="float: left; width: 65%;">
    <div style="margin-bottom: 20px">
        <iframe
            src= {{video_url}}
            width="800"
            height="500"
            allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
            allowfullscreen
            frameborder="0"
        ></iframe>

    </div>
    <div>
        {{ video.year }}
        <br/>
        {% if video.caption %}
          {{ video.caption }}
        {% endif %}
    </div>
 </div>


 <div style="float: right; width: 35%;">
    {% if video_people %}
        This video includes:<br/>
        {% for person in video_people %}
            {% include "familytree/face_name_link.html" with person=person %} <br/>
        {% endfor %}
    {%  endif %}

 </div>

{% endblock content %}
