{% block content %}

  {% if login_form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>Email address: </td>
        <td>{{ login_form.username }}</td>
      </tr>
      <tr>
        <td>{{ login_form.password.label_tag }}</td>
        <td>{{ login_form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="Log in" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

<br/>
{# Assumes you setup the password_reset view in your URLconf #}
<a href="{% url 'password_reset' %}">Forgot password?</a>
<br/>
{% endblock %}