{% extends 'familytree/base.html' %}

{% block content %}
  <p>
    If an account exists with the email you entered, see new email (arriving within a minute or so) for setting your password.
  </p>
  <p>
    If you don't see the email: 
    <ul>
      <li><b>check your spam folder for email with subject "Family tree account password reset"</b></li>
      <li>make sure you've entered the address you previously registered with</li>
      <li><a href="mailto:dianekaplan@gmail.com?subject=Family tree user request">Email me</a> to let me know!</li>
    </ul>

  </p>
{% endblock %}
