python-gedcom
django
django-heroku
Faker # used to generate fake names and dates for scrubbing data on demo site
gunicorn
pre-commit
python-dateutil
django_user_agents # used to identify the visitor's browser (for safari workaround)
whitenoise # used for static files
django-debug-toolbar
psycopg2-binary # PostgreSQL database adapter
pytest
pytz
ruff
tzdata # added to fix tz recognition issue on user metrics page
