python-gedcom
django
django-heroku
gunicorn
pre-commit
python-dateutil
django_user_agents # used to identify the visitor's browser (for safari workaround)
whitenoise # used for static files
django-debug-toolbar
psycopg2-binary # PostgreSQL database adapter
# pytz
tzdata # added, to fix tz recognition issue