{% load static %}

{%  if user_is_guest and person.living %}
    <img src="{{ media_server }}/image/upload/h_51,r_20/noimage.gif" />(living person)
{% else %}
    {% if user.is_authenticated %}
        {% if person %}
                {% if person.display_name %}
                    {% include "familytree/_face_link.html" with person=person %}
                    <a href="{% url 'person_detail' person.id %}" data-turbo="false">{{ person.display_name }}</a>
                {%  else %}
                    {#  Don't have display name <br/>#}
                    {% include "familytree/_face_link.html" with person=person %}
                    <a href="{% url 'person_detail' person.id %}" data-turbo="false">{{ person.first }} {{ person.last }}</a>
                {%  endif %}
                {% if person.has_stories and show_book %}
                        <img src="{% static 'familytree/book.png' %}" height="50"/>
                {%  endif %}
        {% else %}
            (no person defined to get face link)
        {%  endif %}
    {% else %}
        {% if person.display_name %}
            {% include "familytree/_face_link.html" with person=person %}
                {{ person.display_name }}
        {%  else %}
            {% include "familytree/_face_link.html" with person=person %}
                {{ person.first }} {{ person.last }}
        {%  endif %}

    {%  endif %}
{%  endif %}
