{%  if video.id %}
        <div style="display: inline-block; margin-bottom:10px" class="image_container" >
            <a href="{% url 'video_detail' video.id  %}">
                {%  if browser == 'Safari' %}
                    <img src="{{ media_server }}video/upload/h_150,r_20/{{ video.name }}" />
                {%  else %}
                    <video controls src="{{ media_server }}video/upload/h_150,r_20/{{ video.name }}"></video>
                {%  endif %}
                {% if show_hover %}
                    <span class="overlay">
                            <span class="text">{{video.pictured_list}}</span>
                    </span>
                {%  endif %}

                <br/>
                    {%  if video.caption %}
                        {{ video.caption }}
                    {%  endif %}
                    {%  if video.year %}
                        ({{ video.year }})
                    {%  endif %}
            </a>
        </div>
{%  endif %}
