<h2>Disastrous Fire in Strykersville</h2>

From the Aug. 20, 1909 Wyoming Co. Herald <br/>
Strykersville News <br/>
<p>
    The most disastrous fire this village has ever known occurred on Fri. afternoon, Aug 13, 1909. The large brewery
    with Hotel attached, owned by
    <a href="{% url 'person_detail' 811 %}">Frank Glaser</a>, also his horse barn, icehouse and sheds were all laid in
    ashes, also the home of Frank Brass, in which they were just cozily settled and recently purchased of C. Waltz and
    his barns were destroyed. The fire broke out in the ice house, but its origin is unknown. All the property was
    partly covered by insurance.
</p>

<p>
    Describing this hotel Frank Kehl wrote in his 1946 book of Sheldon's history that; "Not many years intervened after
    the fire around 1870 when a new brewery and hotel were erected, which in its location on a gracefully rising summit,
    with its unique architectural design and copula, was a landmark that would grace any town. There was but one small
    brewery in competition and apart from that, the whole countryside was served by the Glaser Brewery. Horsedriven city
    delivery was not in evidence."
</p>

<p><i>
    Researching more into the history of the Hotel, following are notes of the late Howard B. Bennion, Arcade, who
    lived in the village of Strykersville from 1876 to 1919. These recollections were prepared some years before his
    death in 1951:
    </i></p>

<p>

    In the 1870's, the original brewery, and adjacent house burned at a great loss.  It was rebuilt soon after by John
    Metzger or
    <a href="{% url 'person_detail' 811 %}">Frank Glaser</a> at a cost of more than $9,000 for a hotel, barns and other
    buildings (In today's money that would equal at least $150,043.64.)
</p>

<p>
    Beer was peddled in eighths, quarters and halves as far east as Hermitage, north to Cowlesville, south to Arcade,
    and west to Sardinia.  The product was aged in large *hogsheads and stored in *deep cellars, some one-half mile in
    length; *ice was always put up in the winter in ice houses, packed in sawdust, and when the season was mild with
    little ice forming, the brewery would cut snow banks into squares to store in the cellars to save the ice crop.
    Mr. Glaser continued operation of the brewery until August 13, 1909, when fire again swept the large hotel and
    brewery, nothing remained but the hotel sign.
</p>

<p>

    The annual Catholic picnic of St. Mary's Church in Strykersville was held the 18th near the new school building.
    The 18th was on a Wednesday, the town must have been exhausted after helping put out the flames and assisting the
    Glaser family who would have been devastated. It was typical of small communities to gather and lend helping hands;
    it would have been talked about for years to come.
</p>

<p>
    Frank Glaser owned the house next to the former Hotel and Brewery, a house of strong structure that was spared and
    still remains today, owned by Ed and Joyce Schurr. The barn that he owned was moved and is still located on Dutch
    Hollow Rd. What really happened with the insurance held on the hotel, we don't know. This we know, Frank Glaser was
    devastated after the fire in 1909 and passed away on Feb. 9, 1911. Some think it was a saddened spirit that took his life.
</p>

<i>
    <p>
        Some interesting notes:</p>

    <p>*Hogsheads were barrels. A hogshead is a large cask of liquid (less often, of a food commodity). More specifically,
        it refers to a specified volume, measured in Imperial units, primarily applied to alcoholic beverages such as wine,
        ale, or cider. Eventually, a hogshead of wine came to be 63 gallons, while a hogshead of beer or ale is 54 gallons.
    </p>

    <p>
        *Ice for the brewery was taken from a pond on Factory Rd., Strykersville,  and hauled from as far as Silver lake.
    </p>

    <p>
        *Deep cellars_
        There are many stories of the tunnel that was located behind the hotel where they stored beer. It was a rounded
        burrow, and in later years an attempt was made to dismantle it; this proved futile as it was too sturdily built.
        Although not visible, it still remains buried underneath the ground. Supposedly a lot of the scrap metal was sold
        when dismantling the building, including a seal that marked the barrels, Strykersville Brewery.
    </p>
</i>
