
<p><a href="{% url 'person_detail' 86 %}">Diane Kaplan</a> Buffalo visit, May 2021</p>


<div style="float:left; width: 40%; margin: 20px;">
    <b>213 W Utica St</b><br/>
    <img src="{{ media_server }}/image/upload/r_20/213WUtica" /><br/>
    This was the house of <a href="{% url 'person_detail' 199 %}">Grace Fitzpatrick</a>/Manning/Alderman
    and Fred Alderman (Sarah’s mom and stepdad). <a href="{% url 'family_detail' 14 %}">Sarah Fitzpatrick & Thomas
    Husband</a> were married here in 1904, and they also lived there for 3 years or so before moving around a bunch (Thomas
    was a traveling salesman)
</div>


<div style="float:left; width: 40%; margin: 20px;">
    <b>178 Saranac Ave</b><br/>
    <img src="{{ media_server }}/image/upload/r_20/178Saranac" /><br/>
    <a href="{% url 'family_detail' 14 %}">Thomas & Sarah</a> stayed here for 5 years, into 1920, the year
    <a href="{% url 'person_detail' 75 %}">Bob</a> was born
</div>


<div style="width: 40%; margin: 20px;">
    <b>97 Roycroft Blvd</b><br/>
    <img src="{{ media_server }}/image/upload/r_20/97Roycroft" /><br/>
    This is where <a href="{% url 'family_detail' 14 %}">Sarah & Thomas</a> lived in the 1930 census with
    their kids (<a href="{% url 'person_detail' 75 %}">Bob</a> was 10 years old)
</div>


<div style="width: 40%; margin: 20px;">
    <b>501 Crescent Ave</b><br/>
    <img src="{{ media_server }}/image/upload/r_20/501Crescent" /><br/>
    This is where Sarah & Thomas Husband lived the longest- with their sons starting at/before 1938. In 1944 Thomas
    Husband died while traveling in Roanoke, VA and Sarah still lived at this house (until at least 1956). Her sons
    <a href="{% url 'person_detail' 76 %}">Jim</a> and
    <a href="{% url 'person_detail' 75 %}">Bob</a> lived here too, then with Bob's wife
    <a href="{% url 'person_detail' 62 %}">Catherine Keem</a>- they stayed in this house and welcomed their first
    baby, <a href="{% url 'person_detail' 81 %}">Susie</a>! Bob and Catherine and Susie moved to Albany in 1952.
</div>
