<div style="margin-top: 20px; margin-top: 20px;">
<p><a href="{% url 'person_detail' 30 %}">Larry Kaplan</a> was killed tragically by a gas explosion in 1949, at the
    age of 38. </p>

<p>The family originally lived in Revere (53 Thornton Street), and they had moved to Medford around March of 1949
    on 130 Lincoln Road. Larry worked in Boston (177 State Street, on the 6th floor) and Gloucester, he was considered
    a leading authority in maritime law. Leading up to the time of the gas leak, the family had been preparing for
    a house-warming party, and Larry was working on a major legal case that his firm ultimately won based on the work that
    he had done.
</p>

<p>
    On November 1, 1949, Melrose Gas Light Company discovered inadequate gas pressure, resulting from a temporary
    shift-over to auxiliary gas-making equipment to handle higher usage at supper time. (A customer
    in Medford reported some difficulty with a gas stove pilot flame). The auxiliary equipment
    used a high-gravity gas which caused the low-flame condition. It was sent into the mains for a short period
    of time, and then the normal mixtures were restored, but it needed to be purged from the gas lines. This purging
    was a big effort: the company notified all users in the towns they serviced (Stoneham, Reading,
    Melrose, Malden, Revere) to turn off their pilot lights and heating equipment until the problem was cleared up.
    Other companies helped out, sending crews from fifty miles around to join the door-to-door effort with local
    companies' crews, to check the gas and warn people to leave no gas flame unwatched and to shut off their appliances
    if they have trouble keeping the burners lighted.
 </p>

<p>On the next morning (November 2, 1949) Larry had left for work as usual, but called Gertrude at the beauty parlor
    at 9am from "the station" to say he had forgotten his briefcase and would return home for it, neither one realizing
    it was in the trunk of her car. Ken (9 years old) and Elaine (almost 6) were at school. Investigators believed he
    had already been unconscious around 10:30am, when gas inspectors had rung the doorbell for the routine check and
    not heard an answer, and there was a terrible explosion at the house around 10:45am, killing Larry instantly.
    (source: articles from November 1st, 2nd, 3rd, 4th from the <b>Medford Mercury</b> newspaper)
 </p>

<p>Afterward, <a href="{% url 'family_detail' 7 %}">Gertrude and the kids</a> moved in with Bubbie, Louie, and Irving
    at 295 Main Street in Medford. They stayed there for 3-4 months and then moved in together at 149 Traincroft.
According to Stanley (12/11/2005), the gas company paid to rebuild the house so it could be resold.
</p>

</div>
