
<h2>North Strykersville Mill</h2>
<p><i>
        <a href="{% url 'person_detail' 250 %}">Peter Reisdorf</a> was born in Prussia on March 16, 1824. In 1847 in
    Buffalo, N.Y. he married
        <a href="{% url 'person_detail' 251 %}">Maria Glaser</a>, born May 8, 1830 in the same town. She was a sister of
        <a href="{% url 'person_detail' 811 %}">Frank Glaser</a>, proprieter of the Glaser Brewery. She came to America
    at the age of eight years.
    </i></p>

<p>
    On the 7th of June in 1853 <a href="{% url 'family_detail' 78 %}">Peter and Maria Reisdorf</a>, from Erie County, purchased a farm at the Creek on Dutch Hollow Rd., in Strykersville, N.Y.in Wyoming Co.
    It had been previously owned by John Demongeot and his wife Catherine, who owned other property at the North end of the village.
    The Reisdorfs operated a saw mill, grist mill, cider mill and the cooper shop, where he made barrels. The waterfall on the creek provided power to operate the mill and several hired men and later family members labored in the mills and farm operation.
    Peter was the cooper, and presumably made the barrels for his brother in law, Frank Glaser who owned a brewery, which was located just south of the Reisdorf property.
    He taught the cooper trade to his son <a href="{% url 'person_detail' 256 %}">John</a>, who later purchased and took over the operation of the farm, cooper shop and milling business.
    It was John's children that were responsible for the farming. They recalled being sent by their father to fetch a gallon pail of beer from the brewery for the workers.
    A pail of beer cost .35. In the early part of the 20th Century a flood wiped out the mill, and it was never rebuilt. The cooper shop was made into a small home for John's elderly mother in law, Elizabeth Petrie. She died in 1905
</p>
