{% load static %}

<h3> <a href="{% url 'person_detail' 75 %}">
        <img src= "{{ media_server }}/image/upload/h_51,r_20/75bob.jpg" /></a>
    Bob Husband's family: </h3>


<h4>The Husband & Wilcox side:</h4>
        <ul>
                <li><a href="{% url 'family_detail' 292 %}">Leander Wilcox and Amanda Penhallow</a>
                        were born (and later married) in Chautauqua county New York, both with several generations going
                        back in CT, both of their fathers served in the War of 1812, and each of their
                        grandfathers (Richard Penhallow, Stephen Wilcox, Halliday Ingraham, and Abner House)
                        served in the Revolutionary War. <a href="{% url 'person_detail' 925 %}">Richard Penhallow's</a>
                        father's side immigrated from England in the late 1600's.
                        <a href="{% url 'person_detail' 929 %}">Stephen Wilcox</a>' ancestors <b>immigrated in the first
                                half of the 1600's (mostly via England <img src="{% static 'familytree/flags/gb.gif' %}"/> & Holland)</b>,
                        including two of the passengers on the Mayflower,
                        <a href="https://en.wikipedia.org/wiki/Francis_Cooke" target="_blank">Francis Cooke</a> and his son John.
                        We came down through John Cooke and Sarah Warren (step-daughter of fellow passenger Richard Warren).
                </li>

                <li><a href="{% url 'family_detail' 172 %}">Thomas and Elanor Husband</a> were born in <b>Scotland</b>
                        <img src="{% static 'familytree/flags/scotland.gif' %}"/> and moved to Canada
                        <img src="{% static 'familytree/flags/ca.gif' %}"/>
                        sometime before 1835.
                        They started their family in Canada before <b>moving to the US in the mid 1830's</b>.
                </li>

                <li>Connection: Leander & Amanda's oldest daughter Mary Wilcox married Thomas & Eleanor's oldest son Andrew Husband.
                        Their son
                        <a href="{% url 'person_detail' 74 %}">Thomas</a> was
                        <a href="{% url 'person_detail' 75 %}">Bob</a>'s father.</li>
        </ul>


<h4>The Fitzpatrick & Manning side:</h4>
        <ul>
                <li><a href="{% url 'person_detail' 764 %}">Jane Wardman/O'Brien</a> was born in Ireland <img src="{% static 'familytree/flags/ie.gif' %}"/>
                        and immigrated to the US, settling in Buffalo, NY. She married
                        <a href="{% url 'person_detail' 765 %}">William Wardman</a>, who was born in England <img src="{% static 'familytree/flags/gb.gif' %}"/>,
                        and raised six children together, including their daughter Sarah, born in 1839.
                </li>
                <li><a href="{% url 'person_detail' 201 %}">William Fitzpatrick</a> came to the US from <b>Ireland</b>
                        <img src="{% static 'familytree/flags/ie.gif' %}"/>
                in 1847 around the age of 15, with his brother Jeremiah, first in New York City, then coming out to Buffalo. </li>

                <li>Connection: William Fitzpatrick married Sarah Wardman and raised six children together, including
                <a href="{% url 'person_detail' 199 %}">Grace Fitzpatrick</a>. Grace was married in 1882 to a Mr. Manning,
                        and had Bob's mother <a href="{% url 'person_detail' 73 %}">Sarah Manning</a> in 1883. </li></ul>
