{% load static %}

<h3> <a href="{% url 'person_detail' 27 %}">
        <img src= "{{ media_server }}/image/upload/h_51,r_20/27gert.jpg" /></a>
    Gert Kemler's family: </h3>

<h4>The Kemler side:</h4>
        <ul>
            <li>Gert's father <a href="{% url 'person_detail' 18 %}">Louis Kemler</a> (3 generations back) came to the US
                from <b><a href="https://en.wikipedia.org/wiki/Berdychiv" target="_blank">Berditchev</a>, Russia</b> (Ukraine today)
                with his father
                <a href="{% url 'person_detail' 17 %}">Solomon</a> <b>around 1902</b>- he was
                13 years old. They left Russia together, Solomon left Louis in England for about 2 years (living in a small room in
                the back of a bakery), and Solomon came to NYC by himself to earn money to bring his family to America.
                <a href="{% url 'person_detail' 16 %}">Ida</a>  stayed in Russia <img src="{% static 'familytree/flags/ru.gif' %}"/>
                with at least one other child (most likely both Rose and Joseph) until Solomon could send for them.
                Louis left England from Liverpool and came to NYC as a stowaway on a ship, and the others joined within a few years, sometime
                between 1904 and 1908
                (Charlie was born in Russia around 1904, and Molly was born in Massachusetts in 1908). See the fuller
                    story
                <a href="{% url 'story' 804 %}">here</a>!
            </li>
        </ul>

<h4>The Kaplan side:</h4>
        <ul><li>Bessie's parents <a href="{% url 'family_detail' 3 %}">Ida & Barnet Kaplan</a> (four generations back)
                were the generation that came here from <b><a href="https://en.wikipedia.org/wiki/Vilnius"
                                                              target="_blank">Wilna/Vilnius</a></b>, considered Russia
            when they left, then Poland, then Lithuania today. <img src="{% static 'familytree/flags/lt.gif' %}"/>
                They started in NYC around 1886, where they had Bessie in 1888 and Harry around 1890.
            Then they arrived in Boston on June 17, 1892, and continued their family there. (Note: 1900 US census
            mistakenly lists all kids as born in Boston).

                We know about descendants of four of Ida & Barnet's children:

                <ul>
                    <li><a href="{% url 'person_detail' 15 %}">Bessie</a>'s descendants include the Kemlers and the Kaplans
                        (through her daughter Gert's marriage, different Kaplans than Ida and Barnett).  </li>
                    <li><a href="{% url 'person_detail' 1 %}">Gertrude</a>'s descendants are the Franks and the Zorns. </li>
                    </li>
                    <li><a href="{% url 'person_detail' 13 %}">Hymie</a>'s descendants are the Goodmans.  </li>
                    <li><a href="{% url 'person_detail' 14 %}">Etta</a>'s descendants are the Nitkins, the Tennens, and the Klapmans.</li>
                 </ul>
            </li></ul>

<a href="{% url 'person_detail' 18 %}">Louis</a> married
<a href="{% url 'person_detail' 15 %}">Bessie</a>
and together they had:
<li><a href="{% url 'person_detail' 26 %}">Irving</a></li>
<li><a href="{% url 'person_detail' 27 %}">Gert</a> (where we get Kaplans & Dolphs)</li>
<li><a href="{% url 'person_detail' 25 %}">Matthew</a> (where we get  Kemlers & Feinbergs)</li>
<li><a href="{% url 'person_detail' 24 %}">Norman</a> (Kemlers & Bergers)</li>
<li><a href="{% url 'person_detail' 23 %}">Stanley</a> (Kemlers) </li>
