{% load static %}

<h3> <a href="{% url 'person_detail' 30 %}">
        <img src= "{{ media_server }}/image/upload/h_51,r_20/30larry.jpg" /></a>
    Larry Kaplan's family: </h3>

<h4>The Kobrin side:</h4>
        <ul>
            <li>We have Russian/Lithuanian census records back to the 1700s for our 'Kabrun' ancestors: Nokhim Kabron (born in 1700's)
                had a son Khaim Kabron (1768-1822) who married Frume Kabron (1771- after 1834). They had a son Orel Kabron (1800-1831),
                who had a son Josel/Yosel/Iosel Kabron (1824-1877) who was a craftsman by trade. He had children Aron David,
                Esther/Etta-Mera, and Brayne/Brina. Aron David was born in Kovno, Russia (which became Kaunas, Lithuania), and he moved
                to Panevezys community in 1884).</li>

            <li>In <b>1896</b>, </b><a href="{% url 'family_detail' 90 %}">Aaron & Rochel Kobrin</a> left Russia in (the area that's now
                Lithuania <img src="{% static 'familytree/flags/lt.gif' %}"/>)
                with their children, and settled in South Africa <img src="{% static 'familytree/flags/za.gif' %}"/> and the US <img src="{% static 'familytree/flags/us.gif' %}"/>
                around the same time.
                <a href="{% url 'person_detail' 29 %}">Kal Kobrin</a> (Larry's father, 3 generations back)
                was 20 years old-  settled in the US, and when
                he immigrated his surname was changed from Kobrin to Kaplan. Kalman's mother
                <a href="{% url 'person_detail' 311 %}">Rochel</a> had come to the US in 1894, and then she
                went to South Africa afterward and died in
                Johannesburg. Six of Aaron & Rochel's children had families of their own:

                <ul>
                    <li><a href="{% url 'person_detail' 29 %}">Kalman</a>'s descendants include the Klopers,
                        the Schultzes, the Almans, the Kaplans, the Dolphs, the Marcuses, and some Kobrins.
                        <img src="{% static 'familytree/flags/us.gif' %}"/> </li>
                    <li><a href="{% url 'person_detail' 312 %}">Nathan</a>'s descendants include the Rothschilds,
                        the Joffees, the Goldsteins, and some Kobrins.  <img src="{% static 'familytree/flags/us.gif' %}"/>
                        <img src="{% static 'familytree/flags/za.gif' %}"/>
                        <img src="{% static 'familytree/flags/ch.gif' %}"/>
                        </li>
                    <li><a href="{% url 'person_detail' 313 %}">Annie</a>'s descendants are the Slonimskys,
                        the Slons, and the Rosses. <img src="{% static 'familytree/flags/za.gif' %}"/>
                        <img src="{% static 'familytree/flags/us.gif' %}"/> <img src="{% static 'familytree/flags/il.gif' %}"/> </li>
                    <li><a href="{% url 'person_detail' 314 %}">Yetta</a>'s descendants are the Blochs and
                        the Foxes <img src="{% static 'familytree/flags/za.gif' %}"/> <img src="{% static 'familytree/flags/us.gif' %}"/>  </li>
                    <li><a href="{% url 'person_detail' 316 %}">Solomon</a>'s descendants include the Melmans,
                        the Robertsons, the Chaits, the Allans, and some Kobrins. <img src="{% static 'familytree/flags/us.gif' %}"/>
                        <img src="{% static 'familytree/flags/za.gif' %}"/>
                        <img src="{% static 'familytree/flags/zw.gif' %}" alt="Zimbabwe"/> <img src="{% static 'familytree/flags/gb.gif' %}"/></li>
                    <li><a href="{% url 'person_detail' 317 %}">Beila</a>'s descendants include the Sneags,
                        the Fittinghoffs, and the Markses <img src="{% static 'familytree/flags/za.gif' %}"/> <img src="{% static 'familytree/flags/us.gif' %}"/> </li>
                </ul>
            </li>
        </ul>

<h4>The Shapiro side:</h4>
        <ul><li><a href="{% url 'family_detail' 119 %}">Toba & Max Shapiro</a> (4 generations back) lived in
                <b>Lithuania</b> <img src="{% static 'familytree/flags/lt.gif' %}"/> and their daughter Annie was born there in 1876. They moved
                together to <b>South Africa</b> <img src="{% static 'familytree/flags/za.gif' %}"/>, and Annie came to the
                <b>US sometime between 1876 and 1896</b>. (Need to confirm whether her parents did too).
                <a href="{% url 'person_detail' 28 %}">Annie</a> married Kalman Kobrin/Kaplan, and they raised Joe, Sarah, and
                <a href="{% url 'person_detail' 30 %}">Larry</a>. </li></ul>

Background for both families:
<ul><li>
Lithuania had been struggling with  oppression under the Russian empire and famine in 1867-1868, and according to
<a href="https://en.wikipedia.org/wiki/History_of_Lithuania">wikipedia</a> between 1868 and 1914, approximately 635,000 people
(almost 20 percent of the population) left Lithuania. </li>
    <li>Toba & Max Shapiro moved from Russia to Johannesburg, South Africa. Their daughters
        <a href="{% url 'person_detail' 28 %}">Annie</a> +
        <a href="{% url 'person_detail' 336 %}">Rebecca</a> Shapiro (sisters) married
        <a href="{% url 'person_detail' 29 %}">Kalman</a> and
        <a href="{% url 'person_detail' 316 %}">Solomon</a> Kobrin (brothers).
        Annie & Kalman in the US (they were married in Boston June 15, 1896), and Rebecca & Solomon stayed in South Africa.
        There is still a large part of the family in South Africa, and over the years various folks have migrated to
        the US and the UK, and we have a couple families in Switzerland, Israel and Zimbabwe.


    </li></ul>
