{{user}} has updated a person: {{person}}

Here's a record of the values BEFORE the update:
First name: {{ person.first }}
Nick name: {{ person.nickname }}
Middle name: {{ person.middle }}
Last name: {{ person.last }}
Maiden name: {{ person.maiden }}
Birthdate: {{ person.birthdate }}
Birthdate note: {{ person.birthdate_note }}
Birthplace: {{ person.birthplace }}
Education: {{ person.education }}
Work: {{ person.work }}
Interests: {{ person.interests }}
Current location: {{ person.current_location }}
Death date: {{ person.birthdate }}
Deathdate note: {{ person.deathdate_note }}
Notes field 1: {{ person.notes1 }}
Notes field 2: {{ person.notes2 }}
Notes field 3: {{ person.notes3 }}
