{% load static %}

<h2> <a href="{% url 'person_detail' 62 %}">
        <img src= "{{ media_server }}/image/upload/h_51,r_20/62kay.jpg" /></a>
    Kay Husband's family: </h2>

<h3>The Keem/Reisdorf side:</h3>
        <ul>
            <li><a href="{% url 'family_detail' 76 %}">Martin & Catherine Keem</a> (5 generations back) were both born in
                <b><a href="https://en.wikipedia.org/wiki/Alsace" target="_blank">Alsace</a>
                    <img src="{% static 'familytree/flags/alsace.gif' %}"/>
                    (Gunstett and Schaenenburg, respectively)</b>, and
                they were married and came to the US together <b>around 1830</b>. They had a son named
                <a href="{% url 'person_detail' 51 %}">Nicholas</a>.
                <p>
                    Going further back for Martin: through his paternal grandfather Jean, we can trace 7 generations further back to
                    <a href="{% url 'family_detail' 290 %}">Martzolff & Marie Voltz</a> in the 1600s in
                        <a href="https://en.wikipedia.org/wiki/Gunstett" target="_blank">Gunstett</a>, and the Kühn/Kihm family
                        into the 1600's in Mettnich, Germany. </p>
                <p>
                        Going further back for Catherine (Kornprobst) Keem: via her
                        paternal grandmother Catherine Wolff, we trace the Sturny and Wolff families into the 1700s in Alsace, France.
                </p>
            </li>

            <li>Mary Glaser came to this country from <b>Germany</b><img src="{% static 'familytree/flags/de.gif' %}"/>
                at the age of 8, with
                <a href="{% url 'family_detail' 80 %}">her parents</a> and widowed grandmother
                <a href="{% url 'person_detail' 697 %}">Gertrude Simon Glaser</a> in
                <b>1838</b>.
                Around the age of 17, she married
                <a href="{% url 'person_detail' 250 %}">Peter Reisdorf</a>, who was born in <b>Rheinland, Prussia</b>
                <img src="{% static 'familytree/flags/prussia.gif' %}"/> and came to the states sometime <b>between 1824 and 1845</b>.

                Mary & Peter Reisdorf (5 generations back)
                had a daughter named <a href="{% url 'person_detail' 50 %}">Catherine Reisdorf.</a>

                <p>A little more history:
                    In the 1860's, three of Mary's younger brothers <a href="/stories/797">fought in the civil war</a>, click around
                    in <a href="{% url 'family_detail' 80 %}">that family's pages</a> for some interesting history
                    (see book icons).  Also, we've traced back on Mary's side to
                    a set of her paternal great great great grandparents:
                    <a href="{% url 'family_detail' 218 %}">Mathias & Maria  Zohler</a>,
                    in Germany in the <b>1600's</b>. </p>
                <p>
                    Going back further for Mary: through her paternal grandmother Gertrude, we trace the Simon and Franck
                    families into the 1700s, and via her paternal grandfather Peter, we trace the Zohler, Aatz, Gläser,
                    and Threin families into the 1600s, all in Saarland Germany. Going back furher for Peter: through his
                    paternal grandfather Johann, we can trace back to the Schlarp family in the late 1600s in Rheinland-Pfalz,
                    Germany, and the Reisdorf, Jager, and Gard, families into the 1700s in the same area (aka Prussia).
                </p>
                    <p>Mary Glaser's family may also have been in the US generations beforehand. Her great-great grandmother
                        was Maria Kuhn, and based on other matching trees on ancestry.com, Maria's parents, grandparents,
                        and all 4 sets of great-grandparents had come to the US together in the early 1700's. They stayed
                        for 3 generations but Maria Kuhn was born in Germany (though her parents lived
                        and died in the US)- this data needs to be verified. </p>
            </li>


            <li>Connection: Catherine Reisdorf married Nicholas Keem. Nicholas and Catherine Keem had a son named
                <a href="{% url 'person_detail' 52 %}">Albert</a>, who was
                <a href="{% url 'person_detail' 62 %}">Kay</a>'s father.
            </li>

        </ul>

        <h3>The Suttell/Smith side:</h3>

        <ul>

            <li>The <a href="{% url 'family_detail' 107 %}">Pochel family</a> (6 generations back) moved to this country from
                <b>France</b>
                <img src="{% static 'familytree/flags/fr.gif' %}"/> in <b>1833</b> when Emily Pochel was an infant.
            </li>
            <li><a href="{% url 'family_detail' 104 %}">Stephen & Anna Maria Schmeid</a> came to this
                country from the area that would become
                <b>Luxembourg</b> <img src="{% static 'familytree/flags/lu.gif' %}"/> (6 generations back) with their son John Smith.
                (need to confirm that they moved too vs whether he came on his own)
            </li>
            <li>Connection: <a href="{% url 'family_detail' 81 %}">John & Emily </a>were married in 1852
                (5 generations back).  They had a daughter named Helen Smith.
            </li>
            <li><a href="{% url 'family_detail' 89 %}">Jacob Suttell and Rosa Mayer</a> (5 generations back)
                both came to the US from
                <b>Alsace</b> <img src="{% static 'familytree/flags/alsace.gif' %}"/> , Jacob on <b>16 May 1843</b>, and
                Rosa sometime between 1824 and 1849.  They had a son named Amos Suttell.
            </li>
            <li>Connection: Helen Smith married Amos Suttell.  <a href="{% url 'family_detail' 9 %}">Helen and Amos Suttell</a>
                had a daugher named
                <a href="{% url 'person_detail' 43 %}">Adele</a>, who was
                <a href="{% url 'person_detail' 62 %}">Kay</a>'s mother.
            </li>
        </ul>
