
<h2>
    History
</h2>
<p>
<a href="{% url 'person_detail' 29 %}">Kalman Kobrin/Kaplan</a> immigrated to the US in 1896 at the age of 20, and records
    show him working as a retail merchant (1910 census),
upholsterer (WWI draft card), and furniture proprietor (1920 census). The early records for his eldest son
    <a href="{% url 'person_detail' 31 %}">Joe</a> show
his jobs as a conductor on Boston Elevated R.R. Co. (WWI draft card), post office clerk (1920 census), and then curtain
salesman (1930 census). Joe's wife <a href="{% url 'person_detail' 32 %}">Hilda</a> was a good seamstress, and in 1931
    they started a curtain shop: Reliable Curtain Company.
</p>


<div style="float:left; margin: 15px;">
    <img src="{{ media_server }}/image/upload/r_20/curtains" height="400px"/>
</div>
<p>
Chuck: <em>Hilda and her friend Esther sewed in the cellar of the house on 71 Chatham Road. Joe would take the curtains
    and drive
up through New Hampshire and Maine and sell them. He had a following up there, all the way up to the Canadian Border,
up old route 1 (not 95 at that time, just a two lane road). He would go for a few weeks at a time and come back with
more orders, and they would make them up. In most cases every town had a department store or general store that had
these curtains and such. It wasn’t drapes like we have today, it was what they call ‘cottage sets’ or ‘semi sheer
curtains’ where you’d have a valance on the top and a 24” bottom, much different from today.</em>
</p>

<p> By 1942 (listed on Joe Kaplan's draft card), Reliable Curtain Company had a retail store on 504 Broadway in Everett.
    Joe and Hilda ran and managed the
    shop and hired local immigrants to help, from Italy especially.
    This is a tradition that also continued with Kal and Chuck- read more below.
    At this location, the Everett Fire Department was 1/3 of a mile down the hill.
    When Joe heard the firehouse whistles go off, he would run out and stop traffic to help them. After a year or two
    the fire chief presented him with a fireman’s helmet so when he went out he’d look official.
</p>

<p>
    After serving as a drill sargeant in the army during World War II, <a href="{% url 'person_detail' 92 %}">Kal Kobrin</a>
    graduated from Lowell Textile School in 1947 on the GI Bill, and then worked in a mill up in Manchester,
    before having a uniform company in Worcester in
    the 1950s. After 1953, he left Worcester and came into the business full-time with his parents (on 504 Broadway in
    Everett).
</p>

<p>
    In the late 50's the business had expanded to wholesale business as well as retail. The family bought some land on
    Revere Beach Pkwy in Everett and built a new larger building that would house a larger retail store and workroom.

    The retail side was called <b>House of Kobrin</b> and the wholesale side
    was (and still is) known as <b>Reliable Fabrics, Inc</b>. It was during the early years there that
    <a href="{% url 'person_detail' 92 %}">Kal Kobrin</a> took over/managed the business, and Joe and Hilda continued
    working there. Hilda worked in the back measuring and cutting hte fabric to have the order ready for sewing by the
    rest of the staff, and she sometimes worked the retail side too. Her friend Esther continued working in the business
    for decades as well.
</p>

<p>
    Starting in the early 1960s, Mildred joined the team on Friday nights and Saturdays (she  was a teacher at
    Ashland High School during the week), and Dorothy worked at the House of Kobrin on Saturdays only ('60's to '70's).

    The new generation joined in too!
    First was Dorothy's son Arnie Schultz; he worked at the shop for some time in the 1960s.
    <a href="{% url 'person_detail' 195 %}">Chuck Schultz</a> joined full-time after
    earning a degree in history at U Mass Amherst in the late 60s, and he has stayed with the business since then.
    Mildred's son <a href="{% url 'person_detail' 188 %}">Barry Kloper</a> started working there in 1970 or 1971.
    In 1972 work started on adding an upstairs to the existing building. House of Kobrin continued downstairs and the
back workroom was primarily used for storage. The new upstairs was now a very large workroom and housed several offices.
</p>

<div style="float:left; margin: 15px;">
    <img src="{{ media_server }}/image/upload/r_20/reliablefabrics" height="400px"/>
</div>

<p>
In the mid-70s, Chuck and Barry became part owners, Kal was still primary. Kal's daughter Karen worked there
    during summer break, first in the back making drapes (trained by Esther), then working in the office, then out
    front in sales. Kal's son
    Harold also worked there for a year or so during the early to mid 70's, before
    opening up his own business. In 1979, Barry left and gave up his share, so it was back to Kal and Chuck running the
    store. Joe and Hilda continued working in the store right up to their passing, in 1981 and 1986. Mildred worked in
    the store into 1992, when she had a stroke and was no longer able to work.
    Chuck took the reins of Reliable Fabrics in the mid/late 90s, and Kal 'retired' but continued working
    there every day.
    Barry returned to the store for a few more years between 1997-2000, after which he moved to Illinois. In the early
    2000's, Chuck's wife Lily joined the team and has been there ever since. 
    Kal passed away in 2005. Chuck relocated the business to a
    larger space at 29 Henderson St in Everett around 2008.
</p>

<h2>
    Traditions
</h2>

<p>
    Joe Kaplan and Kal always hired immigrants living in the area- (as well as citizens born here)- many from Italy in
    the early years,
    and Chuck has continued that tradition of hiring workers from around the world who live in the Boston area. In the
    workroom there's a series of analog clocks, all set to different times with the name of the country below it, each
    representing the countries where the workers come from.
    Chuck: <em>Everyone is treated equal no matter what race, creed or color. We have muslims, jews, christians, a
    number of the women
    have gone through wars in Serbia and Croatia (on different sides). There are a number of stories of how the women
    had to do a lot of different things to keep their families together and alive. Most of our employees go back
    (as they say) 'to their home country' three weeks to three months during the year (since there can be a couple days
    of travel time each way), to rest and relax for vacation. It creates a very nice atmosphere- everyone knows
    they go back, and their job is waiting for them. We have a couple of people in the same family. In the early 2000s,
    when the US pulled out of Bosnia, we worked with a group in Chelsea that would bring people in who had helped the
    United States and they’d resettle. We worked with an office there to get employees. We have many people who have
    worked with us for 20-30 years. Everything we do is custom, they’re very skilled. Some other people have come by
    word of mouth. The business is very transparent with customers coming in able to walk into the workroom or offices
    and talk to everyone.  It creates a positive atmosphere.  All are happy to show and explain what they are working on.
    We’re there for the funerals, and we’re there for the weddings.</em>
</p>




