<h2>1929</h2>

<p>John Keem, a well known and nearly life long resident of Wales, died at his home in that town on Wednesday, January
    30, after a lingering illness at the age of 84 years.  </p>
<p>He was born the fourth son of
    <a href="{% url 'family_detail' 76 %}">Mr. and Mrs. Martin Keem</a>, who came to America from Alsace
    in the year 1924.  After working on the Erie canal where he sustained a fractured leg, he came to Willink (now Aurora)
    and worked for the elder Hamlin, C. J. Hamlin's father, and came to Sheldon in 1836 and was employed as foreman to
    manage the large holdings of the late Dr. Cyrus Hamilton for a period of four years.  He then went to farming for
    himself and soon bought a farm in Wales which became known as the Keem homestead and which the deceased, John, still
    owned at the time of his death. </p>
<p>The deceased was a member of a strong family of seven brothers and one sister.  He is survived, besides
    his <a href="{% url 'person_detail' 246 %}">wife</a>,
    by three sons, <a href="{% url 'person_detail' 247 %}">Edward</a>
    and <a href="{% url 'person_detail' 248 %}">Frank Keem</a>
    and <a href="{% url 'person_detail' 249 %}">Sylvester Keem</a> at home.
    Also four brothers survive him: <a href="{% url 'person_detail' 241 %}">Joseph Keem</a>,
    aged 86, of Pa.; <a href="{% url 'person_detail' 242 %}">Feorge Keem</a>, aged 88 of East Aurora;
    <a href="{% url 'person_detail' 51 %}">Nicholas Keem</a>, aged 81 of Strykersville
    and <a href="{% url 'person_detail' 245 %}">Augustus Keem</a> of Sheldon.
    Two brothers, <a href="{% url 'person_detail' 239 %}">Martin Keem</a>, who died at the age of 88,
    and <a href="{% url 'person_detail' 243 %}">Jacob Keem</a>, aged 76; also one sister,
    <a href="{% url 'person_detail' 244 %}">Mrs. Catherine Ess</a>, aged 72, proceded him in death. </p>
<p>Funeral services were held from St. Cecilia's church, Sheldon, on Friday morning at 10 o'clock, the Rev Joseph A.
    Weisbecker officiating. </p>