
<p>
In the various Russian records, the Kobrin name has had several spellings, including Kabron and Kabrun.
In 1896, <a href="{% url 'family_detail' 90 %}">Aaron & Rochel Kobrin</a> left Russia in (the area that's now Lithuania)
with their children, and settled in South Africa and the US around the same time. When their son
<a href="{% url 'person_detail' 29 %}">Kalman Kobrin</a> landed in New York, USA (September 5, 1894), he couldn't speak
English. The immigration officials tagged Kalman with the surname of Kaplan, and he never changed it in later documents
(he continued using Kaplan on both his 1896 marriage license and 1899 citizenship). </p>

<p>Kalman's children all used Kaplan, but there were some more name changes to come. Kalman's daughter
    <a href="{% url 'person_detail' 34 %}">Sarah</a> married into a shortened surname; she married Oscar Alimansky in
    1920, but by 1935 they appeared in the 1935 Malden city directory (and all records afterward) as Alman.
    One other naming note: on that same marriage certificate where Sarah's and Oscar's parents are listed, Sarah's mother
    Annie Shapiro appears as Anna Davis!
</p>

<p>
    Then Joe Kaplan's son <a href="{% url 'person_detail' 92 %}">Kalman</a> went through the process to update Kaplan to
    Kobrin for himself and his wife and children in 1957, so there were Kobrins in the US once more!
</p>

<img src="{{ media_server }}/image/upload/r_20/SarahKaplanOscarALman" />
