<h2>Mrs. Mary Reisdorf</h2>


<p>We are pained to announce the death of
    <a href="{% url 'person_detail' 251 %}">Mrs. Mary Glaser</a>, wife of
    <a href="{% url 'person_detail' 250 %}">Peter Reisdorf</a>, which occurred at her late home in Strykersville, N.Y., April 20th 1890, at the age of 59 years 11 months, 13 days, of stomach difficulty.
    The deceased was born in Prussia, May 8th, 1830, removing to this country at the early age of 8 years.  In 1847 she was united in marriage
    to <a href="{% url 'person_detail' 250 %}">Peter Reisdorf</a>,
    and residing in Buffalo 6 years.  They then moved to Strykersville upon the farm which is still the home, and to her frugality is largely due the substantial income which is being enjoyed by her family at present.
    Suffering seems to have been a part of her existence, it being 14 years since her health began to fail; but being of a cheerful, energetic nature, she battled with disease and at times believed that she triumphed.  But it became
    apparent that her destroyer, although in no haste to claim its victim was faithfully performing its functions and gradually undermining the constitution.  In december last her sufferings grew more intense, and medical aid from Buffalo was
    procured, but she obtained little relief. She bore her sufferings with the courage few possess, and talked to her daughter of her departure calmly.  On Saturday, the 19th, her symptoms were very favorable, and the cloud was dispelled from the
    hearts of the family, but it was of short duration, and at 2 o'clock Sunday morning her condition became alarming.  The children were summoned to her bedside, and it was evident that the frail bark was fast nearing the shores of eternity.
    Weaker and weaker grew the earthly tenement, more gently passed the flickering breath, until with a slight sigh she passed away to that unutterable mystery and greeing which mortal eye hath not seen nor heard.  A large concourse of relatives
    and friends paid their last tribute of respect to one who in life they so loved and esteemed. Among those from out of town, were a daughter of the deceased,
    <a href="{% url 'person_detail' 253 %}">Mrs. Feist</a> of Buffalo,
    a brother, <a href="{% url 'person_detail' 270 %}">John Glaser</a> also of Buffalo, a sister, Mrs. Fix of Batavia, and nephew J. Reisdorf of Auburn.  Her remains were interred in the cemetery of St. Cecelia's Church at Sheldon, Rev. Father Voss officiating.  She leaves a husband and 11 children to mourn their sad loss.  </p>
