<h2>Mrs. Emily Tusk</h2>


<p><a href="{% url 'person_detail' 272 %}">Mrs. Emily Tusk</a>, one of Sheldon's most remarkable women passed away at the home of her son
    <a href="{% url 'person_detail' 274 %}">Albert Smith</a>
    at Wales Center Sunday afternoon at 2 o'clock,
    March 3rd after a week's illness of influenza followed by pneumonia.  Mrs. Tusk who was in her 96th year was born in
    France June 1833.  Her maiden name was Pochel and as Emily Pochel she emigrated to America and settled with friends
    in the town of Sheldon
    where she spent nearly her entire life.  An attractive vivacious personality combined with a keen intellect and amazing
    memory for historical facts which she retained to the end she is said to have been a living history in herself.  In
    her early girlhood
    she was united in marriage to <a href="{% url 'person_detail' 273 %}">John Smith</a> of Sheldon who
    later became a well known hotel man, owning Hotels at what was then known as the Bee Hive at Bennington, at Lancaster and
    Sheldon Center.  Some years after the death of her husband she was again
    married to <a href="{% url 'person_detail' 282 %}">Dominick Tusk</a> also of Sheldon
    whose death ocurred some time ago.
    Besides the son <a href="{% url 'person_detail' 274 %}">Albert</a> with whom she had lived the past
    two years she is survived by
    five other sons <a href="{% url 'person_detail' 275 %}">Fred</a> of Byron,
    <a href="{% url 'person_detail' 276 %}">Augustus</a> of Williamson, Michigan,
    <a href="{% url 'person_detail' 277 %}">Edward</a> of Lansing, Michigan,
    <a href="{% url 'person_detail' 278 %}">John</a>
    and <a href="{% url 'person_detail' 279 %}">Frank Smith</a> of Sheldon also two
    daughters, <a href="{% url 'person_detail' 280 %}">Mrs. George Nassoly</a> of Niagara Falls and
    <a href="{% url 'person_detail' 41 %}">Mrs. Helen Suttel</a> of Strykersville,
    A son <a href="{% url 'person_detail' 281 %}">Joseph Smith</a> died at the age of 21.  Also surviving
    are several grand children.   </p>
<p>Funeral services were held from St. Cecilia's church, Sheldon Wednesday morning at 10 o'clock the Rev. Joseph A.
    Weisbecker officiating.  Burial in St. Cecilia's cemetary. </p>