<p><a href="{% url 'person_detail' 697 %}">Gertrude Simon Glaser</a> had been widowed for 8 years when she came to America in 1837, with her two grown sons,
    <a href="{% url 'person_detail' 702 %}">John (Johann)</a> and
    <a href="{% url 'person_detail' 269 %}">Franz</a> and their families.
    They had just sold their farm and belongings (considerable property) in Eiweiler and came to settle in Sheldon.
    A third son, <a href="{% url 'person_detail' 700 %}">Peter</a>, Emigrated at a later time and also settled in Sheldon.  </p>

<p><a href="{% url 'family_detail' 80 %}">Franz Glaser and Anna Marie Becker</a> had married 15 years earlier in the
    church in Mettnich; Eiweiler belonged at that time to the Catholic parish in Mettnich.
    They emigrated with seven Eiweiler-born children and later, six more children were born in America - 13 children!
    Franz farmed in Sheldon until his death in 1862.  </p>

<p>At that time the country was torn by the Civil War (1861-1865) in which nearly half a million American soldiers lost
    their lives, more than in the second World War!
    The three youngest, American-born sons had followed Lincoln's call to volunteer.
    <a href="{% url 'person_detail' 811 %}">Frank</a>, the oldest of the three at first seemed to have enjoyed the
    adventure and he wrote to his older brother, Peter: </p>

<p><cite>
        "...our reg't was very luckey so far it has not been in to a Battle yet except the other Day we drove the
    rebiles out of Harper's ferry we had fine times in Baltimore and could wish for no better times for a soldering
    we got acquainted with a great many peopals there but Now I think that we got to make up all our good times we had
    there..." </cite></p>

<p>
    Soon after, in 1863, he saw his two younger brothers,
    <a href="{% url 'person_detail' 812 %}">Jacob</a> (19) and
    <a href="{% url 'person_detail' 813 %}">Matthias</a> (16) killed by snipers on the way to the battle of Gettysburg,
    Pennsylvania.  He had to step over their bodies and could only return after the battle to bury them under a tree.
    His mother died 3 months later.  He himself got a bullet wound in the leg and had to be hospitalized for a long time.
    He got home just in time to reclaim his fiance, who was about to get married to someone else.  </p>