

<h2>Joe & Hilda</h2>
<p>They had a curtain shop- this is the same one I think, confirm</p>

<p><a href="{% url 'person_detail' 196 %}">Arnie Schultz</a> (their daughter Dorothy's son) took over the business.
Kal Kaplan was involved too</p>

<p><a href="{% url 'person_detail' 195 %}">Charles Schultz</a> is the main contact currently</p>

aka Reliable Fabrics
https://www.buzzfile.com/business/House-of-Kobrin-617-387-5321

This organization has been operating for approximately 93 years. (if written in 2020, this would mean starting around 1927
Reliable Fabrics is estimated to generate $2.3 million in annual revenues,
and employs approximately 25 people at this single location. This organization is engaged in manufacturing activities at this facility.