

<h2>Early days</h2>
Solomon & Aaron Kemler:
1903: Solomon came to the US (age 33)
1910: <a href="{% url 'person_detail' 17 %}">Solomon Kemler</a> was a butcher
1916 city directory: Aaron was a grocer, Solomon was a butcher. Robert Kemler article mentioned: his grandfather had
opened a butcher shop in Revere and sold shoes from the other end of the store- was this the same place?
1919: Solomon was listed as a shoe dealer from then on- eventually listed for 'Kemler Shoe Co'

Louie's brother Charlie was also listed as wholesale shoes.


Aaron's kids: Isaac Kemler (1907-1988) and Frank Kemler

Solomon's kids: Louie, Dora, Rose, Joseph, Charlie, Molly

- 1930 census: the Kemlers are living in Boston with their kids, Louie's occupation is listed as shoe salesman.

<h2>Burlington</h2>
- April 1, 1935: Louie's residence was Burlington, but Bessie, Norman, Stanley listed Revere (field in 1940 census)
- 1935-1940: Burlington City Directories have Louie & Bessie & Norman & Stanley listed, Louie as the manager of Bloomberg's Shoe Store,
Bubbie was the bookkeeper, and it looks like it was owned by his brother Joseph Kemler who was living in Boston and did wholesale shoes.
Norman and Stanley were students, first in high school then at UVM.
- Norman and Stanley also worked in the shoestore, and Annette was the bookkeeper (with Bubbie? or afterward?)- and that's where Norman and Annette met.

- 1940 census: meanwhile in Massachusettes, Bubbie's brother Hyman Kaplan was listed as 'shoe sales'- living in Boston- had he been working with Louie, or just a coincidence?


- Norman graduated UVM in 1943 (in-state resident tuition)
- Stanley's in a UVM yearbook in 1944 (could he have gone early? Or did they do pictures for underclassmen?). Listed him as Medford, MA (not revere)
Chemistry major, received his MD at the age of 23. (1946). Stanley joined the army during medical school for WWII- Army Captain, Chief of
Neuropsychiatric Services, 22nd General Hospital, Guam, adnd Ward Officer Valley Forge General Hospital, Phoenixville PA. Noved to Norman OK in 1955
born 1923

<h2>Broadway Family Shoe Store</h2>
- Broadway Family Shoe Store, at 366 Broadway in Revere- I can find digitized ads listing it between 1942-1967
- 1948: Louie has a shoe store in Gloucester and lives in Medford, Chas lives in Brookline and is summer resident of Gloucester

<h2>Edwin Case Shoes</h2>
Robert Kemler had a shoe store in Coolidge Corner: Edwin Case Shoes.
He bought it in 1977 (at 1388 Beacon St). It had originally opened after World War II as a children's orthopedic shoe store,
and Robert shifted it to shoes for men and women, and Robert's son Justin Kemler worked there too.
See article <a href="https://www.wickedlocal.com/article/20120712/NEWS/307129706" target=_blank">here</a>


