Gert's father <a href="{% url 'person_detail' 18 %}">Louis Kemler</a> (3 generations back) came to the US from Kiev, Ukraine
(still part of the Russian empire at
the time) with his father <a href="{% url 'person_detail' 17 %}">Solomon</a>
around 1902- he was 13 years old. They left Russia together, Solomon left Louis in England
for about 2 years (living in a small room in the back of a bakery), and Solomon came to NYC by himself to earn money to bring
his family to America. <a href="{% url 'person_detail' 16 %}">Ida</a>  stayed in Russia with at least one
other child (most likely both Rose and Joseph) until Solomon could
send for them. Louis left England from Liverpool and came to NYC as a stowaway on a ship, and the others joined within a few years
1904 and 1908 (Charlie was born in Russia around 1904, and Molly was born in Massachusetts in 1908).