

<p>Gert's grandfather <a href="{% url 'person_detail' 17 %}">Solomon Kemler</a> started the process of migrating the family
    from Kiev, Ukraine (still part of the Russian empire at the time). He and his wife Esther Ida had 5 children at the time.
    Solomon and his eldest son <a href="{% url 'person_detail' 18 %}">Louis Kemler</a>
    set off from Russia to England.
    <a href="{% url 'person_detail' 16 %}">Ida</a> stayed in Russia with the others (2 sons and 2 daughters) until Solomon could
send for them.

    Louie was 11 years old at the time, and Solomon left him in England for about 2 years
(living in a small room in the back of a bakery, and working the streets of London waiting for his father to send from him to come to the US).
    Solomon came to NYC by himself to earn money to bring
his family to America.
</p>

<ul>
    <li>Solomon immigrated to the US on July 24, 1903. Some records say it was aboard the vessel 'Lake Manitoba', arriving in NYC,
        and another says he came via rail from Quebec, Canada (so there may have been some movement).</li>
    <li>1904: Louis left England from Liverpool and came to NYC as a stowaway on a ship.</li>
    <li>August 25, 1906: Ida came over with Dora, Rose, and Charlie from Liverpool, aboard the vessel 'Arabic' (pictured above).
    (Note: Charles' naturalization pages said September 1905, but he was a toddler at the time so he may have misremembered).</li>
    <li>September 22, 1906, Solomon's brother Aaron (30 years old) immigrated from with his son Joseph (8 years old)
from Liverpool, aboard the vessel 'Arabic'. </li>
    <li>June 1907: their fifth child Mollie was born in Massachusetts.</li>
<li>1910: They're all together in the census, living in Boston. (Note: the immigration year is listed as 1907 for Ida, Dora,
    Rose, Joe, and Charlie, but that's mistaken).</li>
</ul>

<p>You can read more about the SS Arabic <a href="https://en.wikipedia.org/wiki/SS_Arabic_(1902)"
    target="_blank">here</a>.  </p>