

<h2>The immigrant Kemler brothers</h2>
<p>
    <a href="{% url 'person_detail' 17 %}">Solomon Kemler</a> was the first in his family to come to this country, arriving
to the US in 1903, at the age of 33. He brought over his brother Aaron Kemler in 1906, who was a clerk and a grocer.
    Solomon was a butcher who also sold shoes from the other end of the butcher shop!
    The 1908 city directory noted his profession as 'boots and shoes and beef'.
    It looks like he continued that for some years (1914 and 1916 still list him as 'beef'). According to Ken:
"Louie told me his father was a butcher who always liked the smell of leather. He worked with his hands.
It's possible his father started making shoes by hand?" It looks like Solomon had shifted entirely to shoes around 1919
    (at the age of 50), living in Revere, MA.</p>

<h2>The next generations</h2>
<p> Solomon's sons worked in the shoe business too: <a href="{% url 'person_detail' 18 %}">Louie</a> in retail shoes
    (after having been a tailor first), and
    <a href="{% url 'person_detail' 20 %}">Joseph</a> and <a href="{% url 'person_detail' 19 %}">Charlie</a> having
    more success in wholesale. Beth says: "I always heard that it was Louis' youngest brother Charlie who was the most
    successful in terms of the shoe business.  Years ago, when I was introduced to someone Jewish, they would ask if I
    was related to Charlie Kemler, so clearly he was well known in the Jewish community."
</p>

<p> In the 1930 census, Louie's family is living on Shirley Ave in Revere. Louie (age 39) and his son
    <a href="{% url 'person_detail' 26 %}">Irving</a> (age 19) both list their occupation as shoe sales.
    Stanley was 7 at this time, and his wife Elaine says when he was very young, at the store they carried a child's
    cowboy boot with a gun and a holster on the side which he didn't get to own.
</p>


<p>In 1935, Louie needed a job so he and Bessie went up to Burlington, VT to
    manage his brother Joe's store: Bloomberg's Shoe Store. (Joe was living in Boston, I'm not sure what his history was
    with Burlington).  Louie moved there first; the 1940 census collected a field for where residence had been on
    April 1, 1935: Louie's was Burlington and Bessie, Norman, and Stanley had been in Revere. Then we see Louis, Bessie,
    Norman, and Stanley listed together in the Burlington City Directories from 1935-1940. While Louie managed the store,
    Bubbie was the bookkeeper and Norman and Stanley were students. Because they were residents of Vermont, they both
    got to go to UVM at the in-state price. Norman and Stanley also worked in the shoe store, and Annette was a bookkeeper
    and cashier, and that's where <a href="{% url 'family_detail' 25 %}">Norman and Annette</a> met.
</p>

<p>
Back at home during this time, Gertrude & Larry, Matthew, and Irving all lived in Revere. In 1940,
    <a href="{% url 'person_detail' 26 %}">Irving</a> and <a href="{% url 'person_detail' 25 %}">Matthew</a>
    were both working at the <b>Broadway Family Shoe store</b>: 366 Broadway, in Revere.
    <a href="{% url 'person_detail' 27 %}">Gertrude</a> worked there over the years as well. In 1943, Irving was referred
    to as a shoe store 'owner'. Irving spent many years working in the Broadway Family Shoe store. That store was around
    for several decades (I can find digitized shoe ads listing it between 1942-1967). Elaine remembers that Louie sold
    the store to someone who worked for him: in <a href="https://www.tributearchive.com/obituaries/19465752/Edward-T-Clarke-Sr/Springvale/Maine/Conroy-Tully-Walker-and-Black-Funeral-Homes"
       target="_blank">this</a> obituary we see that it was Edward T Clarke from Revere (1942-2005). At that time,
    Gertrude went to work as a bookkeeper in a bank.
</p>

<p>
    In 1954, Irving is listed as the
    manager of <b>Stairway Shoe Mill</b>, a discount store in Malden Square (25 Pleasant St).
</p>

<p>In 1948 there's a shoe connection in the Gloucester city directory too: Charlie is listed as a summer resident (living
    fulltime in Brookline), and Louie is listed working in shoes on 10 Pleasant (though living in Medford).
</p>

<p>
Matthew had <b>Kem's shoe store</b>. According to Ken: "Mathew was a successful business man and at one time had about
    5-6 shoe stores". Bubbie's brother <a href="{% url 'person_detail' 13 %}">Hyman</a> worked in Matthew's shoe store
    for many years. Matthew worked together with his son <a href="{% url 'person_detail' 115 %}">Robert Kemler</a>
    at the <b>Edwin Chase Comfort Shoes</b> store at 1388 Beacon Street in Coolidge Corner (Brookline). Robert bought the
    store in 1977 (at 1388 Beacon St). It had originally opened after World War II as a children's orthopedic shoe store,
and Robert shifted it to shoes for men and women, and Robert's son Justin Kemler worked there too.
See full article <a href="https://www.wickedlocal.com/article/20120712/NEWS/307129706" target=_blank">here</a>.
</p>


